$primary: #1F1B24;

html {
    scroll-behavior: smooth;
    
    
    &.custom-bg {
        background-color: $primary;
        height: 100vh;
      }
    
    a {
        font-weight: 300px;
    }

    #startQuote {
        text-align: center;
        margin-left: 50px;
    }

    footer {
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        height: 30px;
    }

    li {
        display: inline;
        margin:10px;
    }

    #commentBox {
        background-color: grey;
        margin: 20px 20px;
        padding: 15px;
        color: black;
    

        #starRating {
            margin-left: 35px;
            padding: 10px;

            .fa-star {
                color: yellow;
            }

        }
    }


    .has-bg-img {
        background: url(assets/city-night-skyline-cartoon-background_1441-3319.webp);
        background-size: cover;
    }

    #employeesText {
        margin-top: 5%;
    }

    #quoteCard {
        text-align: center;
    }

    img {
        object-fit: cover;
    }
    
    .navbar-item:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $primary;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
      
    .navbar-item:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    @media (min-width:769px) {
    .columns {
        background: palegreen;
        margin-top: 10px;
        margin: 10px;

        .column {
            margin: 0 auto;
            margin-bottom: 0px;
            text-align: center;
            height: 300px;
            width: 200px;
            padding: 10px;

            .card {
                min-width: 350px;
                margin-left: -85px;
                height: 285px;
                padding: none;

                img {
                    object-fit: cover;
                }


                .card-content {
                    margin-top: -30px;
                }

            }
           
        }
    }
}

   @media (min-width:1024px) { 
    
    .columns {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        // padding: 30px;
    
        .column {
            padding:10px;
            height: 370px;
            width: 150px;
            background: palegreen;
            margin: 10px;

            .card {
                 height: 350px;
                 margin-left: 3px;
                .card-content {
                    text-align: center;
                }

                img {
                    object-fit: cover;
                }
            }    
        }
       }
       img {
        object-fit: cover;
    }
    #startQuote {
        margin-top: 100px;
        font-size: 50px;
        margin-left: 20px;
    }

    #schoolImage {
        height: 500px;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

   
   
    .formArea {
        background-color: white;

        #questionText {
            text-align: center;
            padding: 15px;
        }

        .field {
            width: 30%;
            margin: auto;

           button {
            margin-bottom: 15px;

           }
        }
    }

    footer {
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        height: 30px;
        margin-top: 10px;
    }
        

        li {
            display: inline;
            list-style: none;
            padding: 10px;
        }
    }
   }

    h1 {
        text-align: center;
        padding: 10px;
    }


    img {
        width: 100%;
        height: 150px;
        padding: 10px;
    }

   
    



  