$primary: #1F1B24;
$bulmaGreen: #00d1b2;

html {
    
    &.custom-bg {
        background-color: $primary;
        height: 100vh;
      }
    
    a {
        font-weight: 300px;
    }

    #startQuote {
        text-align: center;
        margin-left: 50px;
    }

    footer {
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        height: 30px;
    }

    li {
        display: inline;
        margin:10px;
    }

   

    #questionText {
        color:white;
        text-align: center;
    }

    .formArea {
        padding: 10px;
    }

    .label {
        color: white;
    }

    .buyBtn {
        background: palegreen;
    }

   


    @media (max-width:600px){

        .columns {
            margin-left: 0;
        }

        #quoteCard {
            margin-left: 10px;
        }
        #image-track {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        footer {
            padding: 5px;
            padding-bottom: 5px;
        }

        .browse {
            text-align: center;
            padding: 20px;
            margin-top: 100px;
            margin-right: 200px;
            color:white;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
           
    
            #browseBtn {
                width: 100%;
                height: 50px;
                border-radius: 20px;
                background-color: gold;
                justify-content: center;
            }
    
            #browseBtn:hover {
                cursor: pointer;
                background-color: white;
            }
        }
       
        #image-track {
            display: flex;
            flex-direction: column;
            user-select: none;
            justify-content: center;
            align-items: center;
        }
    .timelineText {
        text-align: center;
        color: white;

    }

    #startQuote {
       text-align: center;
       margin-left: 100px;
       padding-top: 10px;
    }
}

    #referencesText {
        padding: 15px;
    }

    #address {
        padding: 6px;
        margin-bottom: 6px;
    }
  


    #commentBox {
        background-color: $primary;
        margin: 20px 20px;
        padding: 15px;
        color: white;
        border: 1px solid white;

        strong {
            color:$bulmaGreen;
        }
    

        #starRating {
            margin-left: 35px;
            padding: 10px;

            .fa-star {
                color: yellow;
            }

        }
    }


    .has-bg-img {
        background: url(assets/city-night-skyline-cartoon-background_1441-3319.webp);
        background-size: cover;
    }

    #employeesText {
        margin-top: 5%;
    }

    #quoteCard {
        text-align: center;
    }

    img {
        object-fit: cover;
    }
    
    .navbar-item:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
      
    .navbar-item:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    @media (min-width:750px) and (max-width:1023px) {
    .columns {
        background: palegreen;
        margin-top: 10px;
        margin: 10px;

        .column {
            margin: 0 auto;
            margin-bottom: 0px;
            text-align: center;
            height: 300px;
            width: 200px;
            padding: 10px;

            .card {
                min-width: 350px;
                margin-left: -85px;
                height: 285px;
                padding: none;

                img {
                    object-fit: cover;
                }


                .card-content {
                    margin-top: -40px;
                }

            }
           
        }

       
    }
    #startQuote {
        text-align: center;
        margin-left: 300px;
        padding-top: 10px;
    }
    .browse {
        margin-top: 5px;
        
    }

   

    .timelineText {
        text-align: center;
        color: white;

    }

   
    #image-track {
        display: flex;
        flex-direction: column;
        user-select: none;
        justify-content: center;
        align-items: center;
    }
       
}

   @media (min-width:1024px) { 
    
    .columns {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    
        .column {
            padding:10px;
            width: 150px;
            background: palegreen;
            margin: 10px;

            .card {
                 margin-left: 3px;
                .card-content {
                    text-align: center;
                    padding: 5px;
                    
                    .buyBtn {
                        background-color: $bulmaGreen;
                        border-radius: 10px;
                        height: 30px;
                        cursor: pointer;
                    }
                    .cartBtn {
                        background-color: gold;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }

                img {
                    object-fit: cover;
                }
                img:hover  {
                    transform: scaleX(-1);                    
                }
            }    
        }
       }
       img {
        object-fit: cover;
    }
    #startQuote {
        margin-top: 100px;
        font-size: 50px;
        margin-left: 105px;
    }

    .browse {
        margin-right: 50px;
    }

    #adress {
        text-align: center;
    }

    #logoImage {
         width: 150px;
         object-position: center;
    }
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
      }
      
      .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
      }
      
      .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
        margin-left: -5px;
      }
  
      .container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }
      
      .left {
        left: 0;
      }
      
      .right {
        left: 50%;
      }
      
      .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
      }
      
      .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
      
      .right::after {
        left: -8px;
      }
      
      .timelineText {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
      }
    

    #schoolImage {
        height: 500px;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

   
   
    .formArea {
        background-color: white;

        #questionText {
            text-align: center;
            padding: 15px;
            color: black;
        }

        .field {
            width: 30%;
            margin: auto;

           button {
            margin-bottom: 15px;

           }
        }
    }

    #nameText {
        margin-top: 30px;
    }


    footer {
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        height: 30px;
        margin-top: 50px;

        li {
            display: inline;
            list-style: none;
            padding: 10px;
        }
    }
        

}
   }

    h1 {
        text-align: center;
        padding: 10px;
    }


    img {
        width: 100%;
        height: 150px;
        padding: 10px;
    }
    
    #image-track > .image {
        width: 40vmin;
        height: 56vmin;
        object-fit: cover;
        object-position: center;
    }
    #image-track {
        display: flex;
        gap: 3vmin;
        user-select: none;
        justify-content: center;
    }

    .browse {
        text-align: right;
        padding: 20px;
        margin-top: -100px;
        margin-right: 200px;
        color:white;

        .browseBtn {
            width: 31%;
            height: 50px;
            border-radius: 20px;
            background-color: gold;
        }

        .browseBtn:hover {
            cursor: pointer;
            background-color: white;
        }
    }

    @media (min-width:2400px) { 
       .browse {
        margin-right: 200px;
       }

       #employeesText {
        font-size: 60px;
       }

       .columns {
        margin-top: 250px;
       }
      

  
    }


    

   
    



  