html {
  scroll-behavior: smooth;
}
html.custom-bg {
  background-color: #1F1B24;
  height: 100vh;
}
html a {
  font-weight: 300px;
}
html #startQuote {
  text-align: center;
  margin-left: 50px;
}
html footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 30px;
}
html li {
  display: inline;
  margin: 10px;
}
html #commentBox {
  background-color: grey;
  margin: 20px 20px;
  padding: 15px;
  color: black;
}
html #commentBox #starRating {
  margin-left: 35px;
  padding: 10px;
}
html #commentBox #starRating .fa-star {
  color: yellow;
}
html .has-bg-img {
  background: url(assets/city-night-skyline-cartoon-background_1441-3319.webp);
  background-size: cover;
}
html #employeesText {
  margin-top: 5%;
}
html #quoteCard {
  text-align: center;
}
html img {
  -o-object-fit: cover;
     object-fit: cover;
}
html .navbar-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1F1B24;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
html .navbar-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (min-width: 769px) {
  html .columns {
    background: palegreen;
    margin-top: 10px;
    margin: 10px;
  }
  html .columns .column {
    margin: 0 auto;
    margin-bottom: 0px;
    text-align: center;
    height: 300px;
    width: 200px;
    padding: 10px;
  }
  html .columns .column .card {
    min-width: 350px;
    margin-left: -85px;
    height: 285px;
    padding: none;
  }
  html .columns .column .card img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  html .columns .column .card .card-content {
    margin-top: -30px;
  }
}
@media (min-width: 1024px) {
  html .columns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  html .columns .column {
    padding: 10px;
    height: 370px;
    width: 150px;
    background: palegreen;
    margin: 10px;
  }
  html .columns .column .card {
    height: 350px;
    margin-left: 3px;
  }
  html .columns .column .card .card-content {
    text-align: center;
  }
  html .columns .column .card img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  html img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  html #startQuote {
    margin-top: 100px;
    font-size: 50px;
    margin-left: 20px;
  }
  html #schoolImage {
    height: 500px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  html .formArea {
    background-color: white;
  }
  html .formArea #questionText {
    text-align: center;
    padding: 15px;
  }
  html .formArea .field {
    width: 30%;
    margin: auto;
  }
  html .formArea .field button {
    margin-bottom: 15px;
  }
  html footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 30px;
    margin-top: 10px;
  }
  html li {
    display: inline;
    list-style: none;
    padding: 10px;
  }
}

h1 {
  text-align: center;
  padding: 10px;
}

img {
  width: 100%;
  height: 150px;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */